<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link type='text/css' href='/stylesheets/ui-lightness/jquery-ui-1.8.24.custom.css' rel='stylesheet' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body data-role='page'>
    <div class='topBar' data-role='header'>
      <div id='title' class='titleBar'>
        Virtual Board
      </div>
      <% if (boards.vBoardError) { %>
        <div class='error' id='error'>
          <%= boards.vBoardError %>
        </div>
      <% } %>
    </div>
    <div class='mapList' data-role='content'>
      <% if (!boards.vBoardError) { %>
        <% boards.forEach( function(board) { %>
          <div class='boardListItem'>Board #<%= board.id %>: <a href="/board/<%=board.id %>"><%= board.mapName %></a><div class="deleteLink ui-icon ui-icon-trash" id="<%= board.id %>_del"></div></div>
        <% }); %>
      <% } %>
    </div>
    <div class="newMapForm">
      <select id="mapNameInput" name="mapNameInput">
      </select>
      <button id="addButton">Add New Board</button>
    </div>
    <script type='text/javascript' src='/javascripts/jquery-1.8.2.min.js'></script>
    <script type='text/javascript' src='/javascripts/jquery-ui-1.8.24.custom.min.js'></script>
    <script type='text/javascript' src='/javascripts/indexProcessing.js'></script>
  </body>
</html>
